<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Elite Lab Solutions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elite Lab Solutions" />
    <meta name="author" content="Elite Lab Solutions" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">

    <!-- App css -->
    <link href="{{ url_for('static', filename='assets/css/app.min.css') }}" rel="stylesheet" type="text/css"
        id="app-style" />

    <!-- Icons -->
    <link href="{{ url_for('static', filename='assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />

</head>

<body class="bg-primary-subtle">
    <!-- Begin page -->
    <div class="account-page">
        <div class="container-fluid p-0">
            <div class="row align-items-center g-0">

                <div class="col-xl-5">
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <div class="card p-3 mb-0">
                                <div class="card-body">

                                    <div class="mb-0 border-0 p-md-5 p-lg-0 p-4">
                                        <div class="mb-4 p-0 text-center">
                                            <a href="index.html" class="auth-logo">
                                                <img src="{{ url_for('static', filename='assets/images/logo-dark.png') }}"
                                                    alt="logo-dark" class="mx-auto" height="28" />
                                            </a>
                                        </div>

                                        <div class="auth-title-section mb-3 text-center">
                                            <h3 class="text-dark fs-20 fw-medium mb-2">Welcome back</h3>
                                            <p class="text-dark text-capitalize fs-14 mb-0">Sign in to continue to Elite
                                                Lab Solutions.</p>
                                        </div>

                                        <!-- Display flash messages -->
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                        <ul>
                                            {% for category, message in messages %}
                                            <li class="alert alert-{{ category }}">{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        {% endwith %}

                                        <div class="pt-0">
                                            <form action="{{ url_for('login') }}" method="POST" class="my-4">
                                                <div class="form-group mb-3">
                                                    <label for="emailaddress" class="form-label">Email address</label>
                                                    <input class="form-control" type="email" name="email"
                                                        id="emailaddress" required placeholder="Enter your email">
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="password" class="form-label">Password</label>
                                                    <input class="form-control" type="password" name="password" required
                                                        id="password" placeholder="Enter your password">
                                                </div>

                                                <div class="form-group d-flex mb-3">
                                                    <div class="col-sm-6">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="checkbox-signin" checked>
                                                            <label class="form-check-label"
                                                                for="checkbox-signin">Remember me</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 text-end">
                                                        <a class='text-muted fs-14' href='#'>Forgot password?</a>
                                                    </div>
                                                </div>


                                                <div class="form-group mb-0 row">
                                                    <div class="col-12">
                                                        <div class="d-grid">
                                                            <button class="btn btn-primary" type="submit"> Log In
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="account-page-bg p-md-5 p-4">
                        <div class="text-center">
                            <div class="auth-image">
                                <img src="{{ url_for('static', filename='assets/images/logins.png') }}"
                                    class="mx-auto img-fluid" alt="images">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- END wrapper -->

    <!-- Vendor -->
    <script src="{{ url_for('static', filename='assets/libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/node-waves/waves.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/waypoints/lib/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/jquery.counterup/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/feather-icons/feather.min.js') }}"></script>

    <!-- App js-->
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>

</body>

</html>